* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;

}

/* Navbar */
#navbar {
  background: #ddd;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
  position: fixed;
  width: 100%;
  border-bottom: 2.5px solid #333;
  border-radius: 0 0 5px 5px;
  top: 0;
}

ul{
  display: flex;
  align-items: center;
  margin-right: 50px;
  gap: 80px;
  list-style: none;
  text-decoration: none;
  color: #333;
}

.li-info {
  text-decoration: none;
  color: #333;
}

.li-info:hover {
  color: red;
}


/* Welcome Section */
#welcome-section {
  background: #f2f2f2f2;
  height: 100vh;
  display: flex;
  justify-content: center;
}


#welcome-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Projects Section */
#projects {
  background: rgb(170, 170, 170);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#proj-main-cont {
  display: flex;
  gap: 200px;
}

#proj-container1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

#proj-container2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  align-items: flex-end;
}

.tribute-div h3 {
  display: flex;
  justify-content: center;
  background: gray;
}

#survey-div h3 {
  display: flex;
  justify-content: center;
  background: gray;
}

#landing-div h3 {
  display: flex;
  justify-content: center;
  background: gray;
}

#docu-div h3 {
  display: flex;
  justify-content: center;
  background: gray;
}

#docu-div {
  display: flex;
  flex-direction: column;
}

/* Contact Section */
#contact-sec {
  background: rgb(134, 134, 134);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#contact-fluff {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

#contact-logos {
  display: flex;
  gap: 20px;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90px;
  border-top: 3px solid #333;
  margin-top: -13vh;
}

img {
  width:  300px;
  height: 300px;
  object-fit: cover;
}

/* Media Queries */

@media ( max-width: 900px ) {
  #proj-main-cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #projects {
    height: 220vh;
  }
}